.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    background-color: #ffff;
  }
  
  .section {
    border: 2px solid #000;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    background-color: #f0f0f0;
    width: 440px;
  }
  
  .imageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .imageBox {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid lightblue;
  }
  
  .editButton {
    margin-top: 10px;
    cursor: pointer;
    color: #0070f3;
    padding-bottom: 20px;
  }
  
  .userprofile h2 {
    margin-top: 50px;
  }

  .infoTable {
    margin-top: 20px;
    margin-right: 35px;
  }
  
  .infoRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .infoTitle {
    margin-right: 20px;
    width: 200px;
    text-align: right;
  }

  .infoInput {
    display: flex;
    align-items: center;
  }
  
  .infoInput input {
    flex: 1;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 220px;
  }

  .submitButton {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 30px 0;
    width: 115px;
  }
  
  